html  
    head 
        title Simple template
    body
        include ./header.pug 
        h3 I'm the main content
        img(src = "/testedeimagem.jpg", alt="Testing Image")
        include ./footer.pug 
