html
   head
      title Person
   body
      if(type == "error")
         h3(style = "color:red") #{message}
      else
         h3 New person, 
            p name: #{person.name}, 
            p age: #{person.age} and 
            p nationality: #{person.nationality} added!